torch>=1.7.1
transformers==4.5.1
numpy
tqdm
flask
Flask==1.1.2
Flask-Cors==3.0.10
tensorboard==2.4.1
tensorboardX==2.2
tensorboard-plugin-wit==1.8.0
datasets==1.1.2
scikit-learn==0.24.1
omegaconf==2.0.6
hydra-core==1.0.6
onnx==1.9.0
onnxruntime==1.8.0
